body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}


.text-folio{
        color: #777;
}

.description_folio{
        text-align: justify;
        word-break: keep-all;
        margin-top:40px;
}

.hider{
        display:none;
}


.circulare{
    max-height:350px;
    border-radius: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin:0 auto;
}

.row .txt{
        margin-top:90px;
}


#slideshow {
    position:relative;
    height:400px;
    max-height:400px;
    overflow: hidden;
    background-repeat:none;
    
}
#slideshow.boats{
    background-image: url("../img/pan_boats.png");
}

#slideshow.auto{
    background-image: url("../img/pan_auto.png");
}

#slideshow.factories{
    background-image: url("../img/pan_energy.png");
}

#slideshow.scoves{
    background-image: url("../img/pan_heat.png");
}

@media(max-width:768px) {
    #slideshow {
        background-size: cover;
    }
    #slideshow.boats{
        background-image: url("../img/pan_boats_mob.png");
    }
    #slideshow.auto{
        background-image: url("../img/pan_auto_mob.png");
    }
    #slideshow.factories{
        background-image: url("../img/pan_energy_mob.png");
    }
    #slideshow.scoves{
        background-image: url("../img/pan_heat_mob.png");
    }
    
    .row .txt{
        margin-top:0px;
        margin-bottom:0px;
    }
        
    
}

#slideshow picture {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    
}






.toggle_menu{
}

.red{
    background-color: red;
}

.faq_head{
    height:300px;
    background-color: #A82743;
    text-align: right;
}
.faq_head .fa{
    color: white;
    font-size: 15em;
    margin-top: 75px;
    margin-right:15px;
}
.faq_head p{
    margin-top: 75px;
    margin-bottom: 0px;
    color: white;
    font-size: 12em;
    display: inline-block;
    float: left;
}
.faq_list dd{
    margin-bottom: 1em;
}

#contacts_chinellato{
    padding: 0px;
}
#contacts_chinellato address{
    margin-top:20px;
}
#contacts_vendors{
    padding-top:75px;
}

.contacts_head{
    height:300px;
    background-color: #5C323E;
    text-align: right;
}
.contacts_head .fa{
    color: white;
    font-size: 15em;
    margin-top: 75px;
    margin-right:15px;
}

.contacts_head p{
    margin-top: 75px;
    margin-bottom: 0px;
    color: white;
    font-size: 12em;
    display: inline-block;
    float: left;
}

.vendor-grid .col-md-4{
    margin-top:20px;
    margin-bottom:20px;
}


.active a:link{
    color: red;
}






@media(min-width:768px) {
    .vendor-grid img, .vendor-grid .fa{
        height: 100px;
    }
    
    .contacts_head .fa{
        color: white;
        font-size: 15em;
        margin-top: 95px;
        margin-right:0px;
    }  
    
    .faq_head .fa{
        color: white;
        font-size: 15em;
        margin-top: 95px;
        margin-right:0px;
    }  
    
        .description_folio{
            text-align: justify;
            word-break: keep-all;
            margin: 40px auto;
    }
    
    
    
    
    .circulare{
        max-height:350px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50x;
        margin:25px auto;
    }
    
    
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.gear-light,
hr.gear-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.gear-light:after,
hr.gear-primary:after {
    content: "\f013";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.gear-light {
    border-color: #fff;
}

hr.gear-light:after {
    color: #fff;
    background-color: #229399;
}

hr.gear-primary {
    border-color: #2c3e50;
}

hr.gear-primary:after {
    color: #2c3e50;
    background-color: transparent;
}

.img-centered {
    margin: 0 auto;
}




.background-lime{
     background-color: #fff;
}

.background-purple{
     background-color: #ebebeb;
}

hr{
        border-color: #A4A4A4;
}




header {
    text-align: center;
    color: #fff;
    background:#229399;
   /* background: #18bc9c; */
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
    box-shadow: 0px -1px 7px #bbbbbb;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}



footer .bar {
    padding: 25px 0;
    /* background-color: #233140;*/
}

footer .index{
    /* background-color: #233140;*/
    background-color: #229399 !important;
}

footer .applications{
    /* background-color: #233140;*/
    background-color: #229399 !important;
}

footer .faq{
    /* background-color: #233140;*/
    background-color: #A82743 !important;
}

footer .contacts{
    /* background-color: #233140;*/
    background-color: #5C323E !important;
}



.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}



/**Ridefinizione menu bootstrap

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #FFF;  /*Sets the text hover color on navbar
} 

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active
background-color: #233140;
}

  .navbar-default {
    background-color: #233140;
    border-color: #030033;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
   background-color: #66CCFF;  /*change color of links in drop down here
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here
    } 
*/